.subtitle-cues {
  width: 100%;
}
.subtitle-cues input {
  width: 100%;
}
.subtitle-cue-highlight {
  font-weight: bold;
}

.subtitle-cues > tbody > tr > td:first-child {
  color: #aaaaaa;
}
.subtitle-cues > tbody > tr > td:nth-child(4) {
  cursor: pointer;
}

.subtitle-editor {
  position: sticky;
  top: 50px;
}
#subtitle-video-viewer {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 56.25%;
}
#subtitle-video-viewer iframe {
  position: absolute;
  inset: 0px;
}
#subtitle-cue-input {
  width: 100%;
}