.subtitle-cues {
  width: 100%;
}
.subtitle-cues input {
  width: 100%;
}
.subtitle-cue-highlight {
  font-weight: bold;
}

.subtitle-cues > tbody > tr > td:first-child {
  color: var(--mainForegroundColor);
  font-weight: bold;
}
.subtitle-cues > tbody > tr > td:nth-child(1) {
  width: 40px;
}
.subtitle-cues > tbody > tr > td:nth-child(2) {
  width: 110px;
}
.subtitle-cues > tbody > tr > td:nth-child(3) {
  width: 110px;
}
.subtitle-cues > tbody > tr > td:nth-child(4) {
  cursor: pointer;
}
.subtitle-cues > tbody > tr:nth-child(2n+1) {
  background-color: var(--greyBackgroundColor);
}
.subtitle-cues > tbody > tr > td, .subtitle-cues > thead > tr > th {
  padding-left: 6px;
  padding-right: 6px;
}

.subtitle-editor {
  position: sticky;
  top: 50px;
  padding-top: 26px;
}
.subtitle-editor-overflow {
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 320px;
}
#subtitle-video-viewer {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 56.25%;
}
#subtitle-video-viewer iframe {
  position: absolute;
  inset: 0px;
}
#subtitle-preview {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  min-height: 50px;
  white-space: pre-line; // To display manual newlines
}
#subtitle-cue-input {
  padding-bottom: 1em;
}

.action-bubble {
  float: left;
  background: #cecece;
  padding: 4px;
  border-radius: 8px;
  margin-right: 8px;
}

.subtitle-head {
  padding-top: 1em;
}
.subtitle-main {
  padding-bottom: 220px;
}
#bottom-controls {
  position: sticky;
  bottom: 0px;
  min-height: 220px;
  background-color: var(--mainBackgroundColor);
  width: 100%;
  box-shadow: 0 0px 16px #000;
  padding-top: 0.5em;
}
